body {
  margin: 0;
  padding: 0;
  background: #0975ce;
  color: #FFF;
  font-family: 'Montserrat', sans-serif, Arial, Helvetica, sans-serif;
}

#root{
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}